.navbarBox {
    width: 100%;
    background-color: white;
    position: fixed;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    border: 1px solid rgba(0, 0, 0, 0.24);
    transition: padding 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 8%;
    padding-right: 8%;
}

@media (max-width: $mantine-breakpoint-xl) {
    .navbarBox {
        padding-left: 3%;
        padding-right: 3%;
    }
}

.navbarLink {
    font-weight: 500;
}

.navbarLink:hover {
    color: rgba(255, 255, 255, 0.5);
}
